.bold{
    font-weight: bold;
}

.blue{
    background-color: blue;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div > p{
    background-color: lime;
    width: 50px;
    height: 50px;
}

div h1{
    background-color: red;
    width: 50px;
    height: 50px;
}