
 .title{
    font-size: 2em;
    color: red;
}

.bold{
    font-weight: bold;
}

.blue{
    background-color: blue;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div > p{
    background-color: lime;
    width: 100px;
    height: 100px;
}

div h1{
    background-color: red;
    width: 100px;
    height: 100px;
}