.container{
    background-color: red;
   /* padding: 20%; 
    margin: 20%;*/
    height: 200px;
    width: 200px;
    margin: 10%;
    padding: 10%;
    margin-left: 500px;
    
    
}

.container2 {
    background-color: blue;
    height: 20px;
    width: 20px;
    margin: 10%;
    padding: 10%;
    margin-left: 500px;

}

.container3{
    background-color: rgb(172, 23, 145);
    height:300px;
    width: 300px;
    padding-left:80px ;
    padding-top: 80px;
    margin-left: 500px;
}

.container4{

    background-color: rgb(26, 255, 0);
    height: 200px;
    width: 200px;
    padding-top:30px;
    padding-left: 30px;
    padding-right: 30px;
    
}
 
.img{
   
    
    

    
}

 /*text-align: center;*/
 /*margin bottom
