.box1{
 position: relative;
 height: 80px;
 width: 80px;
top: 40px;
left: 40px;
background-color: red;

}

.box2{
position: absolute;
width: 80px;
height: 80px;
top: 30px;
left: 30px;
background-color: black;
}

.box3{
    

}

.box4{

}
