/* Stili di base (Mobile-first) */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.image-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Media Query per Tablet */
@media (min-width: 481px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .image-content {
    width: 40%;
  }

  .text-content {
    width: 50%;
   
  }
}

/* Media Query per Desktop */
@media (min-width: 1025px) {
  .container {
    padding: 40px;
    display: flex;
    flex-direction: row;
  }

  .image-content {
    width: 35%;
  }

  .text-content {
    width: 55%;
     
  }
}
