*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}



.navbar{

position:sticky;
top:0;

background :grey;
color:white;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px;
}

.navbar a{
color:white;
text-decoration:none;
margin-left:20px;
}




.container-card{

display:flex;

gap:20px;

padding:40px;

overflow-x:auto;

}



.card{

min-width:200px;
height:150px;

background:linear-gradient(45deg,#ff6b6b,#ffb36b);

display:flex;
justify-content:center;
align-items:center;

color:white;
font-size:20px;
border-radius:10px;

flex-shrink:0;
}