body{

    font-family: 'inter', sans-serif;
    background-color: white
}

.main{
    flex-direction: column;
    display: flex;
}
    
.hero-container{
    display: flex;
    width: 1100px;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
}
.text-content{
    padding-right: 40px;
}
.text-content h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;
    color: #222;
    margin-bottom: 30px;
}
.text-content p{
    font-size: 20px;
    color: #666;
    line-height: 1.5;
}
.image-wrapper{
    width: 450px;
    height: 550px;

}
.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.child-container{
    border-style: solid;
    border-radius: 16px;
    padding: 1rem 1.5rem 1rem 1rem;
    border-color: #ddd;


}

.hero-functions{
   flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    display: flex;
    
}

    .one{
       
        
    }

    .two{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
       
    }