


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: white;
}

.main{
    display: flex;
    flex-direction: column;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 100px auto;
    gap: 60px;
}

.text-content{
    flex: 1;
}

.text-content h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;
    color: #222;
    margin-bottom: 30px;
}

.text-content p{
    font-size: 20px;
    color: #666;
    line-height: 1.5;
}

/* IMMAGINE */
.image-wrapper{
    width: 450px;
    height: 550px;
    flex-shrink: 0;
}

.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.features{
    display: flex;
    
    flex-direction: column;
    gap: 20px;
    width: 450px;
}

.child-container{
    width: calc(50% - 10px);
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 1.2rem;
}

/* COME FUNZIONA */
.hero-functions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 120px auto;

}

.steps{
    display: flex;
   
    gap: 40px;
}

.steps img{
    width: 180px;
    padding: 10px;
    margin: 60px;
}

@media (max-width: 400px) {
  .steps {
    flex-direction: column;
  }
  .hero-container {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .image-wrapper {
    display: none;
  }
}
