body
{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: #03a9f4;
    
}

 .container{
    display: flex; 
    justify-content: center; 
    align-items: center;

 }

.bar {
    
    border-radius: 24px;
    
}

.rosso{

    color: red;
    padding: 20px;

}

.rounded{
    border-radius: 24px;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;

}