
 body{
    display: flex;
            justify-content: center;
            align-items: center;
 }

.container{
      width: 1000px;
            height: 300px;
            background-color: #f0f0f0;
            display: flex;
            padding: 20px;
            border: 2px solid #ccc;
            margin: 20px;
          border: 2px solid #ccc;
             border-radius: 20px;
}
.cards{
   
             display: flex;
            width: 100%;
             border: 2px solid #ccc;
             border-radius: 20px;
}

.largecard{
  display: flex;
 border: 2px solid #ccc;
             border-radius: 20px;

}

.largecard2{
      display: flex;
             flex-direction: column;
              justify-content: center;
           
}
.card1{
     width: 200px;
            height: 200px;
            background-color: #ffcc00;
            margin: 20px;
            border: 2px solid #ccc;
             border-radius: 20px;
}
.card2{
   
     width: 80px;
            height: 80px;
            background-color: #ffcc00;
            margin: 5px;
}
.card3{
    width: 80px;
            height: 80px;
            background-color: #ffcc00;
            margin: 5px;
}

.titolo h1 h2{
    text-align: center;
            
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:flex-end;
  border: 2px solid #ccc;
  height: 100px;
  
}

.grid{
  display: flex;
  flex-direction: column;
}




.bigbox{
            
  display: flex;
  flex-direction: row;
  justify-content:;
  align-items: center;
  border: 2px solid #ccc;
 height: 100px;
}

  .box1, .box2, .box3, .box4 {
            width: 80px;
            height: 80px;
            background-color: #66cc66;
            margin: 5px;
            border: 2px solid #ccc;
             border-radius: 20px;
        }

        .box4 {
            width: 200px;
        }