
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
     padding: 20px;
    
}
 div{
    background-color: goldenrod;
 }

 #king-content{
    
    height: 500px;
    
 }
.box1{
    width: 200px;
    height: 200px;
    background-color: blue !important;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: green;
}
.red{
    background-color: red;
}

.border{
    border: 2px solid black;
    border-radius: 30px;
}

@media (min-width: 768px){
    .red{
        background-color: yellow;
    }
    
}

@media  (min-width: 1024px){
    .red{
        background-color: violet;
       
    }
    
}