
*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}

.primary-navigation{


    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(150, 191, 177);
    width: 100%;
    text-align: center;
    margin: auto;
    color: yellow;
  
    
   /* left: 50%;
   /* transform: translate(-50%, -50%);*/
    
  
   
   
  /*position: sticky;*/
    
    

}

 a{
    margin-right: 10px;

}

h1 {
     width: 80%;
    margin: auto;

}

.lor{
    
    height: 100px;
    margin: 0 auto;
   background-color: lightslategrey;
   display: flex;
    justify-content:flex-start;
   margin-top: 0px;
}

/*.quadrato1{
    background-color: blue;
    height: 100px;
    width: 100px;
     position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quadrato2{
    background-color: grey;
    height: 50px;
    width: 50px;
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%, -50%);

}*/

.card{
    display: flex;
    flex-wrap:wrap ;
    flex-direction:row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 1000px;
    background-color: black;
}

.card1{
    height: 400px;
    width: 300px;
    background-color: aqua;
  /*  margin-right: 20px;*/
    border-radius: 10%
    
}

.card2{
     height: 400px;
    width: 300px;
    background-color: rgb(231, 19, 19);
    
     border-radius: 10%
}

.card3{
     height: 400px;
    width: 300px;
    background-color: rgb(195, 183, 49);
    
     border-radius:  20px; ;
}

.card4{
     height: 400px;
    width: 300px;
    background-color: rgb(225, 120, 120);
    
     border-radius: 10%
}